<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style='font-family:Sedgwick Ave Display' href="#">Crypto-Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if (page === 'home') { %>
      <li class="nav-item active">
      <% } else if (page === 'profile') { %>
      <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <% if (page === 'home') { %>
      <li class="nav-item">
      <% } else if (page === 'profile') { %>
      <li class="nav-item active">
      <% } %>
        <% if (!userID) { %>
        <a class="nav-link" href="/login">Profile</a>
        <% } else { %>
        <a class="nav-link" href="/profile/<%=userID%>">Profile</a>
        <% } %>
      </li>
    </ul>
    <% if(!loggedIn) { %>
    <form class="form-inline my-2 my-lg-0" action='/login' method='GET'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
    <% } else { %>
    <form class="form-inline my-2 my-lg-0" action='/logout' method='POST'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
    <% } %>
    </form>
  </div>
</nav>
