<!doctype html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <!--    <link href='../style.css' rel='stylesheet' type='text/css'> -->
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs', {loggedIn: loggedIn, userID: userID}) %>
    <% if (dataError) { %>
    <h3><%=dataError%></h3>
    <% } %>

    <%- include('./partials/dataRender.ejs', {data: data}) %>
  </body>
</html>
