<!doctype html>
<html>
  <head>
    <!-- include partial with script tags -->
    <%- include('./partials/head.ejs'); %>

    <title>Homepage</title>
  </head>
  <body>
    <h1>Welcome to Crypto-Dashboard</h1>
    <form action='/signup' method='GET'>
      <button>Sign Up</button>
    </form>
    <form action='/login' method='GET'>
      <button>Login</button>
    </form>
  </body>
</html>
