<!doctype html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Homepage</title>
  </head>
  <body>
    <h1>Welcome to Crypto-Dashboard</h1>
    <% if (!loggedIn) { %>
    <form action='/signup' method='GET'>
      <button>Sign Up</button>
    </form>
    <form action='/login' method='GET'>
      <button>Login</button>
    </form>
    <% } else { %>
    <form action='/logout' method='POST'>
      <button>Logout</button>
    </form>
    <% } %>
    <% if (dataError) { %>
    <h3><%=dataError%></h3>
    <% } %>

    <%- include('./partials/dataRender.ejs', {data: data}) %>
  </body>
</html>
