<!doctype html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Login</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs', {loggedIn: loggedIn}) %>
    <h3>Enter your email and password to log in</h3>
    <% if(error) { %>
      <h3><%=error%></h3>
      <% } %>
    <form action='/login' method='POST'>
      <input type='text' name='email' placeholder='email'>
      <input type='text' name='password' placeholder='password'>
      <button>Login</button>
    </form>
    <h3>If you don't have an account, sign up!</h3>
    <form action='/signup' method='GET'>
      <button>Click Here To Sign Up</button>
    </form>
  </body>
</html>
