<!doctype html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Profile</title>
  </head>
  <body>
    <h1>Welcome to YOUR Crypto-Dashboard</h1>
    <form action='/logout' method='POST'>
      <button>Log Out</button>
    </form>
    <%- include('./partials/dataRender.ejs', {data: data}) %>
  </body>
</html>
