<!doctype html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Profile</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs', {loggedIn: loggedIn, userID: userID}) %>
    <%- include('./partials/dataRender.ejs', {data: data, page: page, subscriptions: subscriptions}) %>
  </body>
</html>
