<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Profile</title>
  </head>
  <body>
    <h1>Welcome to YOUR Crypto-Dashboard</h1>
    <form action='/logout' method='POST'>
      <button>Log Out</button>
    </form>
  </body>
</html>
