<!doctype html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action='/signup' method='POST'>
      <input type='text' name='first_name' placeholder='first name'>
      <input type='text' name='last_name' placeholder='last name'>
      <input type='email' name='email' placeholder='email'>
      <input type='password' name='password' placeholder='password'>
      <input type='password' name='password_confirmation' placeholder='password'>
    <button>Sign Up</button>
    </form>
    <form action='/' method='GET'>
      <button>Return Home</button>
    </form>
  </body>
</html>
